/* header.css */
.headerWithImg {
    width: 100%;
    height: 130px;
    background-color: burlywood;
    display: flex;
    align-items: center;
}

.imgWrapper {
    width: 50%;
    height: 100%;
    margin-left: 4px;
}

.headerImg {
    max-width: 100%;
    height: 100%;
    float: left;
}

/* navBar.css */
.navBarWrapper {
    overflow-x: auto;
    white-space: nowrap;
    background-color: #d8cfcf;
    width: 100%; /* It spans the full width */
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Initially, not fixed */
}

.navBar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.sectionName {
    margin-right: 20px;
    flex-shrink: 0;
    padding: 10px;
}

.navBarWrapper::-webkit-scrollbar {
    height: 6px;
}

.navBarWrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.navBarWrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Content spacing after the navbar */
.content {
    margin-top: 20px;
}
